# Ignore everything
*

# Don't ignore directories
!/**/

# Don't ignore files with extensions
!**/*.*

# Don't ignore Makefile
!**/Makefile

# Ignore object files
**/*.o

# Ignore executables
**/*.out
